@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #6d6b6b;
    border-radius: 5px;
  }
  *::-webkit-scrollbar-thumb {
    background-color: #38393b;
    border-radius: 5px;
  }

  html,
  body {
    scroll-behavior: smooth;
  }

  :focus-visible {
    outline: none;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-inter;
  }
}
